/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/* Add to your global CSS file */
.profile-photo-button {
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;
}

.profile-photo-button::part(native) {
  border-radius: 50%;
  padding: 0;
}

.photo-preview {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--ion-color-primary);
}

.photo-placeholder {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
}