/* :root {
  --ion-color-primary: #bb86fc; 
  --ion-color-secondary: #03dac6;
  --ion-color-tertiary: #cf6679;

  --ion-background-color: #1e1e1e;
  --ion-text-color: #ffffff;

  --ion-card-background: #2c2c2c;
  --ion-card-border-radius: 12px;
  --ion-card-shadow: 0 4px 12px rgba(0,0,0,0.3);

  --ion-button-background: #cf3333; 
  --ion-button-color: #fff;
  --ion-button-border-radius: 8px;
} */
/* :root{--ion-background-color: #1e1e1e;
  
   }  */

ion-card{
margin-top:150px ;
margin-left: auto;
margin-right: auto;
}