/* Full center */
.login-wrapper {
  --background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* full screen */
  padding: 20px; /* space on mobile */
}

/* Card */
.login-card {
  background: #313131;
  border-radius: 20px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;

}

/* Left side (form) */
.form-section {
  padding: 40px;
}

.form-wrapper {
  max-width: 350px;
  margin: auto;
}

/* Texts */
.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #5c5c5c;
  margin-bottom: 20px;
}

/* Inputs */
.input-item {
  border-radius: 10px;
  margin-bottom: 15px;
  background: #f0f4ff;
  --highlight-background: transparent;
    border: #f0f4ff 2px solid;
}

/* Button */
.login-btn {
  margin-top: 10px;
  border-radius: 12px;
  font-weight: 600;
  
}

/* Divider */
.divider {
  text-align: center;
  margin: 20px 0;
  font-size: 13px;
  color: #888;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Link */
.signup-link {
  margin-top: 25px;
  font-size: 14px;
  text-align: center;
}

.signup-link a {
  color: #3b82f6;
  font-weight: 600;
  text-decoration: none;
}

/* Right side */
.decor-section {
  background: linear-gradient(135deg, #000000, #000000);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: white;
}

.decor-content {
  max-width: 300px;
  text-align: center;
}

.decor-content h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* 📱 Responsive: stack on mobile */
@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
      margin-top: 200px;

  }
  .decor-section {
visibility: hidden;  }
}
